.header {
  text-align: center;
}

.posts {
  margin: 20px 20px 0;

  &__title {
    text-align: center;
    margin-top: 50px;
  }

  &-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    &-item {
      &:not(:first-child) {
        margin-top: 40px;
      }

      &__title {
        margin: 0;
      }

      &__text {
        &-font {
          font-style: italic;
        }
      }
    }
  }
}
