.greeting {
  display: flex;
  justify-content: center;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 250px;
    background: rgba($black, .7);
  }

  &__title {
    text-transform: uppercase;
    color: $white;
  }
}